@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&family=Roboto+Mono:wght@200&display=swap');

:root{
    --cor-primaria: #000;
    --cor-secundaria: #ffff;
    --cor-terciaria: #ff0000;

    --fonte-principal: 'Kanit', sans-serif;
    --fonte-secundaria: 'Roboto Mono', monospace;
}

*{
    border: 0;
    padding: 0;
}

body {
    /* height: 100vh; */
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria)
}

.cabecalho{
    padding: 2% 0 0 15%;
}

.cabecalho__menu{
    display: flex;
    gap: 80px;
}

.cabecalho__menu__links{
    font-family: var(--fonte-principal);
    font-size: 1.5rem;
    color: var(--cor-terciaria);
    text-decoration: none;
}

.titulo-loja {
    color: var(--cor-terciaria);
}

h1{
    font-weight: bold;
}

.apresentacao{
    padding: 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}

.apresentacao__conteudo{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.apresentacao__conteudo__titulo{
    font-size: 2.25rem;
    font-family: var(--fonte-principal);
}

.apresentacao__conteudo__texto{
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria)
}

.apresentacao__link{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.link__subtitulo{
    font-family: var(--fonte-principal);
    font-weight: 400;
    font-size: 1.5rem;

}

.imagem__insta{
    height: 43px;
    width: 44px;
}

.apresentacao__link__navegacao{
    display: flex;
    justify-content: center;
    gap: 10px;
    border: 2px solid var(--cor-terciaria);
    width: 50%;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: var(--fonte-principal)
}

.apresentacao__link__links:hover{
    background-color: var(--cor-terciaria);
    padding: 2%;
}

.apresentacao__img{
    width: 50%;
}

.rodape{
    padding: 24px;
    color: var(--cor-secundaria);
    background-color: var(--cor-terciaria);
    text-align: center;
    font-family: var(--fonte-principal);
    font-size: 1rem;
    font-weight: 400;
}

@media (max-width: 1100px){
    .cabecalho{
        padding: 12%;
    }

    .cabecalho__menu{
        justify-content: center;
    }

    .apresentacao{
        flex-direction: column-reverse;
    }

    .apresentacao__conteudo{
        width: auto;
    }
 
}